* { box-sizing: border-box; }

body { font-family: sans-serif;}

.row-content {
    margin:10px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 300px;
}

.back_colour{   
    background-image: linear-gradient(to right, grey, white);
}

.back_clr{
    border: 1px solid grey;
}